<IfModule mod_rewrite.c>
    RewriteEngine On
    # Esto asegura que el Token llegue a PHP incluso si Apache intenta filtrarlo
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_headers.c>
    # Encabezados CORS para permitir peticiones desde la App móvil
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization, X-Authorization"
</IfModule>

# htaccess que estaba antes en proatam_local desktop
# Si la petición es de tipo OPTIONS (Preflight), responder 200 OK y salir
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]

DirectoryIndex login.php

# Límites generales (soportar 600MB + 1GB)
php_value upload_max_filesize 1100M
php_value post_max_size 1700M

# Tiempos
php_value max_execution_time 3600
php_value max_input_time 3600

# Memoria
php_value memory_limit 2048M

# Múltiples archivos
php_value max_file_uploads 50
php_value max_input_vars 5000

# Bloquear acceso directo a archivos sensibles
<FilesMatch "^(config\.php|conexion\.php|version\.php|deploy\.sh)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Headers de seguridad

# Evita que el navegador adivine el tipo de archivo
Header always set X-Content-Type-Options "nosniff" 

# Evita que el sitio sea embebido en un iframe de otro sitio
Header always set X-Frame-Options "SAMEORIGIN"

# Activa el filtro XSS del navegador
Header always set X-XSS-Protection "1; mode=block"